.strip {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    padding: 0.7rem 1rem;
    border-radius: 20px;
}

.controls {
    display: flex;
    gap: 1rem;
}